/* .thumb-container {
    position: relative;
    display: inline-block;
}

.thumb-button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: blue;
}

.thumb-icon {
    width: 40px;
    height: 40px;
    color: rgb(29, 29, 248);
    background-image: url('../../img/thumb-up-fill.svg');
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s ease;
}
.thumb-icon:active {
    animation: pulse 0.5s ease-in-out;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
} */
