.card {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: auto;
  height: auto;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  margin-top: 32px;
  font-size: clamp(1.2rem , 1.3rem, 1.4rem);
}
h2 span{
  position: relative;
  font-weight: 700;
  color: #ff1e16;
}

.card::before {
  content: '';
  position: absolute;
  width: 200px;
  background-image: linear-gradient(180deg,#c4302b, rgba(255, 255, 255));
  height: 180%;
  animation: rotBGimg 5s linear infinite;
  transition: all 2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
}
.text{
  color: white;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  margin: 0em 3em 0em 5em;
  text-align: start;
  padding: 1rem 0rem 2rem 0rem;
  font-size: clamp(0.7rem , 0.8rem, 0.9rem);
  
}

@media screen and (min-width: 780px) {
  .card::before {
    content: '';
    position: absolute;
    width: 150px;
    background-image: linear-gradient(180deg, #e6231d, rgba(255, 255, 255));
    height: 600%;
    animation: rotBGimg 7s linear infinite;
  }
  .text{
    font-size: clamp(1.1rem , 1rem, 1.2rem);
  }
  .card h2{
    font-size: clamp(1.5rem , 1.6rem, 1.7rem);
  }
}
