footer{
    color: #f1f1f1;
    

}
.content-footer{
    padding: 3rem;
    
}
.title-footer{
    margin: 3rem;
    
    
}
.logo a{
    color: #f1f1f1;
    font-size: clamp(2rem, 2.5vw, 8rem);
    text-decoration: none;
    /* margin: 5.5rem; */
    font-family: 'Montserrat', sans-serif;
  
}
.logo{
    display: flex;    display: flex;
    align-content: center;
    justify-content: space-around;
    
}