footer{
    color: #f1f1f1;

}
.content-footer{
    padding: 3rem;
    
}
.title-footer{
    text-align: center;  
    
}
.logo a{
    color: #f1f1f1;
    font-size: clamp(1rem, 2vw, 5rem);
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    
  
}
.ri-youtube-fill:hover{
    color: #c4302b;
}
.ri-youtube-fill{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;

}
.ri-twitch-fill{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.ri-twitch-fill:hover{
    color: #6441a5;
}
.ri-tiktok-line{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.ri-tiktok-line:hover{
    background: linear-gradient(45deg, #69c9d0, #61a4de, #5e86bf, #5753a9, #9446a9);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.ri-facebook-circle-fill{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.ri-facebook-circle-fill:hover{
    color: #3b5998
}
.ri-instagram-fill{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.ri-instagram-fill:hover{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #ff8c00);
  -webkit-background-clip: text;
  color: transparent;
}
.logo{
    display: flex;    
    align-content: center;
    justify-content: space-around;
    padding-top: 45px;
    text-align: center;
}
.ligne{
    display: flex;
    gap: 2rem;
}
.txt-footer{
    display: none;
    margin-top: 10px;
}
i{
    font-size: 2rem;
}
@media screen and (min-width: 780px) {
    .content-footer{
        text-align: center;
    }
    .logo{
    justify-content: space-around;
    padding-top: 45px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    }

   .txt-footer{
        display: block;
        text-align: center;
    }
    i{
        font-size: 3.1rem;
    }

}
