.banniere{
    width: 100%;
    height: 100%;
}
.video{    
    width: 448px;
    height: 350px;
}
.vid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}
.video-V{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 780px) {
    .banniere{
        /* height: 500px; */
        height: 100%;
    }
    .video{
        width: 80%;
        height: 500px;
    }
    .video-V{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}